body {
    background-image: url(3b551cf86dd765cb1559eabeffac966c.jpg);
    border-color: grey;
  }
  
main{
    background-color: rgba(255, 238, 238, 0.444)
   }
h1 {
  margin-top: 20px;
}
